@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

*
{
	color: rgb(44,74,99);
	font-family: 'Asap', sans-serif;
}

header
{
	display: flex;	
	position: fixed;
	left:0%;
	top: 2%;
	width: 80%;
	height: 25%;
	background-color: rgb(44,74,99);
	border-radius: 0px 50em 50em 0px;
	padding-left: 2em;
	padding-bottom: 1em;
	margin-left: 0;
	box-shadow: 1em 1em 1em grey;
}

header p
{
	color: white;
	max-height: 10%;
	margin-top: 0.5%;
}

header a
{
	color: white;
}

a:visited
{
	color:red;
}

h1
{
	text-shadow: 2px 1px 2px lightyellow;
	background-color: rgb(178,178,178);
	border-radius: 0em 50em 50em 0em;
	margin-right: 10px;
	padding: 5px;
	color: rgb(25,30,94);
	font-size: 2em;
	max-width: 45%;
	white-space: nowrap;

}

.lside
{
	padding: 15px;
}

.lside h1
{
	margin-left: 0;
	padding-left: 0.5em;
	text-align: left;
}

.role
{
	font-weight: bold;
	font-size: 2em;
}

.place
{
	margin-right: 6em;
	color: rgb(44,74,99);
	font-size: 1.5em;
}

.name
{
	margin-top: auto;
	margin-bottom: auto;
	color: white;
	font-size: 4em;
	margin-right: 1em;
}

.portrait
{

	position: fixed;
	right: 15em;
	top: 1.5em;
	width: 9em;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 1em;
	float: right;
	background-color: transparent;
}

.profile
{
	font-size: 1.8em;
	margin-top: 0.3em;
	border-top: 0.3em white solid;
	padding-top: 0.5em;
}

.container
{
	margin-top: 20%;
	display: flex;
}

.rside
{
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5em;
	padding-right: auto;
	padding-left: 1em;
	margin-right: 1em;
	background-color: rgb(178,178,178);
	border-radius: 50em 50em 50em 50em;
	box-shadow: 2em 2em 2em grey;
}

@media handheld
{
	.container
	{
		margin-left: 0px;
		flex-wrap: nowrap;
	}
}
