@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');


*
{
	color: rgb(44,74,99);
	font-family: 'Asap', sans-serif;
}

header
{
	background-color: rgb(44,74,99);
	border-radius: 0px 50em 50em 0px;
	padding-left: 1em;
	padding-bottom: 1em;
}

header p
{
	color: white;
	font-size: 1.5em;
	margin: 3px;
}

p a
{
	color: lightblue;
}

h1
{
	font-size: 2.5em;
	color: rgb(25,30,94);	
}

.role
{
	font-weight: bold;
	font-size: 2em;
}

.place
{
	background-color: rgb(178,178,178);
	margin-right: 6em;
	border-radius: 0px 50em 50em 0px;
	color: rgb(44,74,99);
	font-size: 1.5em;
}

.name
{
	color: white;
	font-size: 4em;
}

.portrait
{
	width: 9em;
	height: 9em;
	padding-top: 0.5em;
	padding-right: 0.8em;
	float: right;
}

.profile
{
	font-size: 1.8em;
	margin-top: 0.3em;
	border-top: 0.3em white solid;
	padding-top: 0.5em;
}

.container
{
	padding-left: 4em;
	display: flex;
}

.rside
{
	padding-top: 4em;
	padding-right: 1em;
	padding-left: 2em;
	margin-right: 2em;
	background-color: rgb(178,178,178);
	border-radius: 50em 50em 50em 50em;
}