@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

.conteneur
{
	display: flex;
}

*
{
	padding: 2px; 
	margin: 5px;
	font-family: 'Sansita Swashed', cursive;
    text-shadow: 2px 2px 4px black;
}

body
{
	/*background-image: url(IT3.jpg);*/
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	background-color: rgb(256,256,256,);
}

h1
{
	border: 4px rgb(44,74,99) outset;
	background-color: rgb(44,74,99);
    color: rgb(178,178,178);
    font-size: xx-laJPG
    font-family: impact;
}

h2
{
    text-shadow: 2px 2px 4px lightyellow;
	background-color: rgb(178,178,178);
	color: rgb(44,74,99);
	font-size: x-large;
}

h3
{
	text-shadow: 2px 2px 4px lightyellow;
	color: darkgrey;
	font-style: large;
}

strong
{
	font-size: large;
}

a:visited
{
	font-color red;
}

.name
{
	color: rgb(44,74,99);
	font-size: xx-large;
}

.float
{
	float: left;	
}

.under
{
	clear: both;
}